// page style
// @author MOYAN <moyan@come-future.com>
// @create 2020/07/19 23:41

@import "~@/styles/variables";

.home-page-container {
  padding: 0;
}

.home-page-header {
  .carousel-item {
    position: relative;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }

  .item-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
}

.home-page-section {
  margin: 32px auto;

  > h2 {
    font-weight: 300;
    font-size: 32px;
  }

  .card-list {
    display: grid;
    // grid-template-columns: repeat(3, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
