body {
  font-family: 'Fira Sans', -apple-system, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  background-color: #F9F9F9;
}

.main-content pre, 
.main-content code, 
.main-content kbd, 
.main-content samp {
  font-family: 'Fira Mono', 'Andale Mono', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;;
}

.homepage {
  background: url(../img/background.png) no-repeat;
  color: #fff;
}